<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wfewater.dao.TopicMapper" >

    <insert id="add" parameterType="cn.wfewater.domain.Topic">
        INSERT INTO topic (user_id, create_time, update_time, title, content)
        VALUES (#{userId},#{createTime},#{updateTime},#{title},#{content})
    </insert>
</mapper>